requirements.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:tns="http://example.com/Educacion"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/Educacion"
             name="EducacionService">
    <types>
        <xsd:schema targetNamespace="http://example.com/Educacion">
            <xs:element name="getEstudiantes">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getEstudiantesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="estudiantes" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfesores">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getProfesoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="profesores" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
             <xs:element name="getPersonalAdministrativo">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getPersonalAdministrativoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="personalAdministrativo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPlanesEstudio">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getPlanesEstudioResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="planesEstudio" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
             <xs:element name="getAsignaturas">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getAsignaturasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="asignaturas" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encriptarContrasena">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="constraseña" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encriptarContrasenaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="constraseñaResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verificarContrasena">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombreUsuario" type="xs:string"/>
                        <xs:element name="contrasena" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verificarContrasenaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="constraseñaVeredicto" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xsd:schema>
    </types>

    <message name="getEstudiantesRequest">
        <part name="parameters" element="tns:getEstudiantes"/>
    </message>
    <message name="getEstudiantesResponse">
        <part name="parameters" element="tns:getEstudiantesResponse"/>
    </message>
    <message name="getProfesoresRequest">
        <part name="parameters" element="tns:getProfesores"/>
    </message>
    <message name="getProfesoresResponse">
         <part name="parameters" element="tns:getProfesoresResponse"/>
    </message>
    <message name="getPersonalAdministrativoRequest">
        <part name="parameters" element="tns:getPersonalAdministrativo"/>
    </message>
    <message name="getPersonalAdministrativoResponse">
        <part name="parameters" element="tns:getPersonalAdministrativoResponse"/>
    </message>
    <message name="getPlanesEstudioRequest">
        <part name="parameters" element="tns:getPlanesEstudio"/>
    </message>
    <message name="getPlanesEstudioResponse">
        <part name="parameters" element="tns:getPlanesEstudioResponse"/>
    </message>
    <message name="getAsignaturasRequest">
        <part name="parameters" element="tns:getAsignaturas"/>
    </message>
    <message name="getAsignaturasResponse">
        <part name="parameters" element="tns:getAsignaturasResponse"/>
    </message>
    <message name="encriptarContrasenaRequest">
        <part name="parameters" element="tns:encriptarContrasenaRequest"/>
    </message>
    <message name="encriptarContrasenaResponse">
        <part name="parameters" element="tns:encriptarContrasenaResponse"/>
    </message>
    <message name="verificarContrasenaRequest">
        <part name="parameters" element="tns:verificarContrasenaRequest"/>
    </message>
    <message name="verificarContrasenaResponse">
        <part name="parameters" element="tns:verificarContrasenaResponse"/>
    </message>

    <portType name="ServicioPortType">
        <operation name="getEstudiantes">
            <input message="tns:getEstudiantesRequest"/>
            <output message="tns:getEstudiantesResponse"/>
        </operation>
         <operation name="getProfesores">
            <input message="tns:getProfesoresRequest"/>
            <output message="tns:getProfesoresResponse"/>
        </operation>
        <operation name="getPersonalAdministrativo">
            <input message="tns:getPersonalAdministrativoRequest"/>
            <output message="tns:getPersonalAdministrativoResponse"/>
        </operation>
         <operation name="getPlanesEstudio">
            <input message="tns:getPlanesEstudioRequest"/>
            <output message="tns:getPlanesEstudioResponse"/>
        </operation>
        <operation name="getAsignaturas">
            <input message="tns:getAsignaturasRequest"/>
            <output message="tns:getAsignaturasResponse"/>
        </operation>
        <operation name="encriptarContrasena">
            <input message="tns:encriptarContrasenaRequest"/>
            <output message="tns:encriptarContrasenaResponse"/>
        </operation>
        <operation name="verificarContrasena">
            <input message="tns:verificarContrasenaRequest"/>
            <output message="tns:verificarContrasenaResponse"/>
        </operation>
    </portType>
    <binding name="GestionAcademicaBinding" type="tns:GestionAcademicaPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getEstudiantes">
            <soap12:operation soapAction="http://example.com/Educacion/getEstudiantes"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
         <operation name="getProfesores">
            <soap12:operation soapAction="http://example.com/Educacion/getProfesores"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getPersonalAdministrativo">
            <soap12:operation soapAction="http://example.com/Educacion/getPersonalAdministrativo"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getPlanesEstudio">
            <soap12:operation soapAction="http://example.com/Educacion/getPlanesEstudio"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
         <operation name="getAsignaturas">
            <soap12:operation soapAction="http://example.com/Educacion/getAsignaturas"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="encriptarContrasena">
            <soap12:operation soapAction="http://example.com/Educacion/encriptarContrasena"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="verificarContrasena">
            <soap12:operation soapAction="http://example.com/Educacion/verificarContrasena"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Servicio">
        <port name="ServicioPort" binding="tns:ServicioBinding">
            <soap12:address location="http://localhost:3000/wsdl"/>
        </port>
    </service>
</definitions>
